@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.eot);
    src: url(../fonts/Poppins-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Poppins-Regular.woff2) format('woff2'),
    url(../fonts/Poppins-Regular.woff) format('woff'),
    url(../fonts/Poppins-Regular.ttf) format('truetype'),
    url(../fonts/Poppins-Regular.svg#Poppins-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    padding: 30px 135px
}

.conteiner{
    max-width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 16px
}

header nav ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}

header nav ul li:last-of-type a {
    background: #1B1A1A;
    text-align: center;
    padding: 11px 20px;
    border-radius: 14px;
    font-size: 16px;
    color: #FFFFFF;
}

.main_banner{
    background-color: #ECE7E4;
    height: 100vh;
    position: relative
}

.color_banner {
    max-width: 1200px;
    margin: auto;
}
.main_banner article {
    width: 50%;
}

.text_banner {
    padding-top: 135px;
}

.main_banner h3 {
    font-family: 'Poppins';
    font-style: normal;
    margin: 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.main_banner h1 {
    font-family: 'Poppins';
    font-style: normal;
    margin: 10px 0;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

.main_banner p {
    font-family: 'Poppins';
    font-style: normal;
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

.link_banner {
    margin-left: 50px;
    margin-top: 30px;
}

.main_banner a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.img_banner {
    background-image: url('../images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh
}

.our_firm {
    padding: 100px 0;
}

.our_firm_cont {
    max-width: 770px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.our_firm h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    padding-right: 133px;
}

.our_firm_text {
    max-width: 500px;
}

.our_firm_text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B
}

.our_firm_text p:nth-child(2){
    margin: 10px 0;
}

.our_firm_img{
    margin-top: 18px;
    display: flex;
}

.our_firm_img img{
    padding-right: 30px;
    display: flex;
}

.our_firm_img_name{
  padding-top: 10px;
}

.our_firm_img p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

.our_firm_img p:last-of-type{
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
    margin: 0;
}

.house {
    background-image: url("../images/house.jpg");
    min-height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.house_text, .stair_text{
    max-width: 300px;
    margin-right: 60px;
}

.house_text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.house_text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
    padding-right: 15px;
}

.our_process{
    padding: 100px 0;
}

.our_process_cont {
    max-width: 1200px;
    margin: auto;
}

.our_process h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    padding-bottom: 13px;
    text-align: center;
}

.our_process h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    text-align: center;
    padding-bottom: 47px;
}

.our_process_icon{
    max-width: 1168px;
    display: flex;
    text-align: center;
    margin: auto;
}

.our_process_icon_img{
    max-width: 378px;
    padding: 0 46px 10px 46px;
}

.our_process h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
    margin-top: 15px;
    margin-bottom: 10px;
}

.our_process p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}

.stair {
    background-image: url("../images/stair.jpg");
    min-height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.stair_text h3, .staircase_text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.stair_text p, .staircase_text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
    padding-right: 15px;
}

.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #403E3B
}

.sub_clients {
    max-width: 1168px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clients_text {
    max-width: 460px;
}

.clients_text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
    margin-top: 10px;
}

.clients_text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.clients_text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}

.icon {
    max-width: 216px;
    min-height: 290px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.staircase {
    background-image: url("../images/staircase.jpg");
    min-height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.staircase_text {
    max-width: 300px;
    margin-left: 60px;
}




